name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        
    # --- CORREÇÃO DE WORKING DIRECTORY INICIADA AQUI ---
      
    - name: Install dependencies
      run: npm ci
      working-directory: ./PrimeiroTeste # <-- Caminho relativo para a subpasta
      
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
      working-directory: ./PrimeiroTeste # <-- Caminho relativo para a subpasta
      
    - name: Run Playwright tests
      run: npx playwright test
      working-directory: ./PrimeiroTeste # <-- Caminho relativo para a subpasta
      
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        # Caminho do relatório ajustado para a subpasta
        path: PrimeiroTeste/playwright-report/
        retention-days: 30
